/*!CK:136794787!*//*1445284043,*/

.sp_r-I9sSc5cwk{background-image:url(/rsrc.php/v2/yl/r/f685dCZ-iYf.png);background-size:13px 39px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_r-I9sSc5cwk.sx_990308{background-position:0 0}.sp_r-I9sSc5cwk.sx_8864f0{background-position:0 -13px}.sp_r-I9sSc5cwk.sx_f7da63{background-position:0 -26px}

#bootloader_L0xVk { height: 42px; }
.bootloader_L0xVk { display:block !important; }