@CHARSET "UTF-8";


.infobox {
  font-family: 'Arial', sans-serif;
  display: block;
  width: 295px;
  position: relative;
}
.infobox.color1 .inner {
  border-bottom: 35px solid #998675;
}
.infobox.color2 .inner {
  border-bottom: 35px solid #f7941d;
}
.infobox.color3 .inner {
  border-bottom: 35px solid #1fadc2;
}
.infobox.color4 .inner {
  border-bottom: 35px solid #5fc251;
}
.infobox > img {
  z-index: 1 !important;
}
.infobox .inner {
  border-bottom: 35px solid #ff513f;
}
.infobox .inner .image {
  width: 100%;
  position: relative;
}
.infobox .inner .image img {
  width: 100%;
}
.infobox .inner .image .description:hover .meta h2 {
  color: #ff513f;
}
.infobox .inner .image .description .meta {
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  bottom: -60px;
  min-width: 259px;
  right: 0;
  padding: 22px;
  position: absolute;
  z-index: 1;
}
.infobox .inner .image .description .meta figure {
  color: #474747;
  font-size: 12px;
}
.infobox .inner .image .description .meta h2 {
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #474747;
  font-size: 14px;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
  text-transform: none;
}
.infobox .inner .image .description .meta i {
  color: #ff513f;
  bottom: 0;
  height: 10px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 15px;
}
.infobox .inner .image .description .meta .type {
  color: #a0a0a0;
  font-size: 11px;
}
.infobox .inner .image .item-specific {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 20px;
  color: #fff;
  left: 36px;
  margin-top: 3px;
  padding: 5px;
  position: absolute;
  height: inherit;
  width: initial;
}
.infobox .inner .image .item-specific span {
  font-size: 11px;
  margin-right: 10px;
}
.infobox .inner .image .item-specific span img {
  margin-right: 5px;
  vertical-align: baseline;
  width: auto;
}
.infobox .inner .image .overlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}
.infobox .inner .image .overlay:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.infobox .inner .image .overlay:hover .wrapper hr {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  width: 140px;
}
.infobox .inner .image .overlay:hover .wrapper .detail {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.infobox .inner .image .overlay:hover .wrapper .quick-view {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.infobox .inner .image .overlay .wrapper {
  bottom: 0;
  left: 0;
  height: 80px;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.infobox .inner .image .overlay .wrapper a {
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  z-index: 1;
}
.infobox .inner .image .overlay .wrapper a:hover {
  color: #ff513f;
}
.infobox .inner .image .overlay .wrapper hr {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-color: #ff513f;
  border-width: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 0px;
}
.infobox .inner .image .price {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  background-color: #ff513f;
  color: #fff;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  left: 22px;
  padding: 3px 8px;
  position: absolute;
  top: -4px;
}

.fade-in-marker {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -webkit-animation: fadeInMarker .3s;
  animation: fadeInMarker .3s;
}
.fade-in-marker > img {
  z-index: 1;
}


